<template>
    <TableGeneral
        :titles="['Titulo', 'Director', ' Lanzamiento', 'Genero', 'Duración', 'Sinopsis', 'Actores', 'País', 'Clasificación', 'Puntaje', 'Formato', 'Lenguaje', 'Acciones']"
        :fields="['title', 'director', 'launch', 'gender', 'duration', 'synopsis', 'actors', 'country', 'classification', 'score', 'format', 'language']"
        :actions="{ F: true, I: true, S: true, U: true, D: true }" :data="films" @emitFather="handleEvent" />
    <FilmModal :eventType="event" :idFilmList="idFilmList" @close="handleEvent" />
</template>

<script setup>
import { ref, watch } from 'vue'
import axios from 'axios';
import TableGeneral from '../default/TableGeneral.vue';
import FilmModal from '../films/FilmModal.vue'

const films = ref([])
const event = ref('N')
const idFilmList = ref(null)

const getData = async () => {
    const { data } = await axios.get('http://192.168.56.56/api/film')
    films.value = data
}
const handleEvent = async ({ e, id }) => {
    event.value=e
    idFilmList.value=id
}

watch(event, async () => {
    await getData()
},
{immediate: true})
</script>

<style scoped></style>