<script setup>
import axios from 'axios'
import { ref, watchEffect } from 'vue'

const props = defineProps({
    eventType: String,
    idFilmList: Number
})

const emit = defineEmits(['close'])

const model = defineModel('model')
const modelFile = defineModel('modelFile')
model.value = {
    title: "",
    director: "",
    launch: "",
    gender: "",
    duration: "",
    synopsis: "",
    actors: "",
    country_id: null,
    classification: "",
    score: "",
    production: "",
    format: "",
    language_id: null
}

const showModal = ref(false)

watchEffect(() => {
    if (props.eventType !== 'N') {
        showModal.value = true
        if (props.eventType !== 'I') {
            handleShow()
        }
    }
})

const close = () => {
    emit('close', { e: 'N', id: null })
    showModal.value = false
}

const handleEvent = async () => {
    if (props.eventType === 'I') {
        await handleStore()
        close()
    }
    if (props.eventType === 'F') {
        await handleUpload()
        close()
    }
    if (props.eventType === 'U') {
        await handleUpdate()
        close()
    }
    if (props.eventType === 'D') {
        await handleDelete()
        close()
        model.value = {
            title: "",
            director: "",
            launch: "",
            gender: "",
            duration: "",
            synopsis: "",
            actors: "",
            country_id: null,
            classification: "",
            score: "",
            production: "",
            format: "",
            language_id: null
        }
    }
}

const selectFile = (e) => {
    modelFile.value = e.target.files[0]
}

const handleShow = async () => {
    const { data } = await axios.get(`http://192.168.56.56/api/film/show/${props.idFilmList}`)
    model.value = data
    console.log(data);
}
const handleStore = async () => {
    const { data } = await axios.post(`http://192.168.56.56/api/person/store`, model.value)
    console.log(data);
}
const handleUpload = async () => {
    const formData = new FormData()
    formData.append('films', modelFile.value)
    try {
        const { data } = await axios.post(`http://192.168.56.56/api/film/import`, formData, {headers:{
            'Content-Type': 'multipart/form-data' 
        }})
        console.log(data);
    } catch (error) {
        console.log(error);
    }
}
const handleUpdate = async () => {
    const { data } = await axios.put(`http://192.168.56.56/api/film/update/${props.idFilmList}`, model.value)
    console.log(data)
}
const handleDelete = async () => {
    console.log(props.idFilmList);
    
    const { data } = await axios.delete(`http://192.168.56.56/api/film/destroy/${props.idFilmList}`)
    console.log(data)
}

</script>

<template>
    <div id="ventanaModal" :class="`modal ${showModal ? 'show-modal' : 'hidden-modal'}`">
        <div class="contenido-modal">
            <button class="cerrar" @click="close">&times;</button>
            <h2 v-if="props.eventType === 'I'">Ingresar Pelicula</h2>
            <h2 v-else-if="props.eventType === 'F'">Ingresar Peliculas</h2>
            <h2 v-else-if="props.eventType === 'S'">Informacion Pelicula</h2>
            <h2 v-else-if="props.eventType === 'U'">Actualizar Pelicula</h2>
            <h2 v-else>Eliminar Pelicula</h2>
            <div v-if="props.eventType === 'D' || props.eventType === 'F'">
                <p>{{ props.eventType === 'D' ? 
                    '¿Confirmas eliminar a esta persona de la lista?' 
                : 'Carga el archivoquedeseas importar' }}</p>
            </div>

            <div v-if="props.eventType !== 'D' && props.eventType !== 'N' && props.eventType !== 'F'">
                <form action="">
                    <div class="text-field-group">
                        <label for="title">Titulo</label>
                        <input type="text" id="title" name="title" v-model="model.title"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="director">Director</label>
                        <input type="text" id="director" name="director" v-model="model.director"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="inputs-groupped">
                        <div class="text-field-group">
                            <label for="launch">Lanzamiento</label>
                            <input type="date" id="launch" name="launch" v-model="model.launch"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                        <div class="text-field-group">
                            <label for="gender">Genero</label>
                            <input type="text" id="gender" name="gender" v-model="model.gender"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                        <div class="text-field-group">
                            <label for="duration">Duración</label>
                            <input type="text" id="duration" name="duration" v-model="model.duration"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                    </div>
                    <div class="text-field-group">
                        <label for="synopsis">Sinopsis</label>
                        <input type="text" id="synopsis" name="synopsis" v-model="model.synopsis"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="actors">Actores</label>
                        <input type="text" id="actors" name="actors" v-model="model.actors"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="inputs-groupped">
                        <div class="text-field-group">
                            <label for="country_id">País</label>
                            <input type="text" id="country_id" name="country_id" v-model="model.country_id"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                        <div class="text-field-group">
                            <label for="classification">Clasificación</label>
                            <input type="text" id="classification" name="classification" v-model="model.classification"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                        <div class="text-field-group">
                            <label for="score">Puntuación</label>
                            <input type="text" id="score" name="score" v-model="model.score"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                    </div>
                    <div class="inputs-groupped">
                        <div class="text-field-group">
                            <label for="production">Producción</label>
                            <input type="text" id="production" name="production" v-model="model.production"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                        <div class="text-field-group">
                            <label for="format">Formato</label>
                            <input type="text" id="format" name="format" v-model="model.format"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                        <div class="text-field-group">
                            <label for="language_id">Lenguaje</label>
                            <input type="text" id="language_id" name="language_id" v-model="model.language_id"
                                :disabled="props.eventType === 'S' && 'disabled'" />
                        </div>
                    </div>
                </form>
            </div>
            <div v-if="props.eventType=== 'F'">
                <div class="text-field-group">
                    <label for="file">Archivo</label>
                    <input type="File" id="file" name="file" @change="selectFile" :disabled="props.eventType === 'S' && 'disabled'" />
                </div>
            </div>

            <div class="option-buttons">
                <button v-if="props.eventType === 'I'" @click="handleEvent">Ingresar</button>
                <button v-else-if="props.eventType === 'F'" @click="handleEvent" >Cargar</button>
                <button v-else-if="props.eventType === 'U'" @click="handleEvent" >Actualizar</button>
                <button v-else-if="props.eventType === 'D'" @click="handleEvent" >Eliminar</button>
                <!-- <button v-if="props.eventType !== 'S'" @click="handleEvent">{{ props.eventType === 'D' ? 'Eliminar' :
                    props.eventType === 'U' ? 'Actualizar' : 'Ingresar' }}</button> -->
                <button @click="close">Cancelar</button>
            </div>
        </div>
    </div>
</template>

<style>
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden-modal {
    display: none;
}

.show-modal {
    display: block;
}

.contenido-modal {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.text-field-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.inputs-groupped {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.option-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
</style>
