
<template>
  <h1>Registrate</h1>
  <div class="form-container">
    <form>
      <div class="text-field-group">
        <label for="email">Correo</label>
        <input type="email" id="email" name="email" v-model="model.email" />
      </div>
      <div class="text-field-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" v-model="model.password" />
      </div>
      <div class="text-field-group">
        <label for="password_confirmation">Confirmar Contraseña</label>
        <input type="password" id="password_confirmation" name="password_confirmation"
          v-model="model.password_confirmation" />
      </div>
    </form>
  </div>
  <div class="option-container">
    <button @click="register">Registrarse</button>
    <RouterLink to="/login">Ingresa</RouterLink>
  </div>
</template>
<script setup>
import axios from 'axios';

const model = defineModel('model')
model.value = {
  email: '',
  password: '',
  password_confirmation: ''
}

const register = async () => {

  const { data } = await axios.post('http://192.168.56.56/api/register', model.value)
  console.log(data);
  model.value = {
    name: '',
    lastname: '',
    birthdate: '',
    phone: '',
    email: '',
    address: ''
  }
  // console.log(model.value);
}
</script>

<style scoped>
h1 {
  text-align: center;
}

.option-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
</style>
