<template>
  <h1>Inicia Sesión</h1>
  <div class="form-container">
    <form>
      <div class="text-field-group">
        <label for="email">Correo</label>
        <input type="email" id="email" name="email" v-model="model.email" />
      </div>
      <div class="text-field-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" v-model="model.password">
      </div>
    </form>
  </div>
  <div class="option-container">
    <button @click="login">Ingresar</button>
    <RouterLink to="/register">Registrate</RouterLink>
  </div>
</template>

<script setup>
import router from '@/router';
import axios from 'axios';
import { RouterLink } from 'vue-router'

const model = defineModel('model')
model.value = {
  email: '',
  password: '',
}

const login = async () => {
  const { data } = await axios.post('http://192.168.56.56/api/auth/login', model.value);
  if(! data?.access_token){
    return ({'msg': 'Usuario no valido'})
  }
  
  router.replace({path: 'person'})
  console.log(data);

  localStorage.setItem('token', data)
  model.value = {
    email: '',
    password: '',
  }
}
</script>
<style scoped>
h1 {
  text-align: center;
}

.option-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
</style>