<template>
    <TableGeneral
        :titles="['datos', 'estado']"
        :fields="['data', 'status']"
        :actions="{ F: false, I: false, S: false, U: false, D: false }" :data="logData" @emitFather="handleEvent" />
    <FilmModal :eventType="event" :idFilmList="idFilmList" @close="handleEvent" />
</template>

<script setup>
import { ref, watch } from 'vue'
import axios from 'axios';
import TableGeneral from '../default/TableGeneral.vue';
import FilmModal from '../films/FilmModal.vue'

const logData = ref([])
const event = ref('N')
const idFilmList = ref(null)

const getData = async () => {
    const { data } = await axios.get('http://192.168.56.56/api/logData')
    console.log(data);
    logData.value = data.data
}
const handleEvent = async ({ e, id }) => {
    event.value=e
    idFilmList.value=id
}

watch(event, async () => {
    await getData()
},
{immediate: true})
</script>

<style scoped></style>