<template>
    <div class="auth-Form">
        <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="100" height="100" />
        <div class="form-container">
            <RouterView />
        </div>
    </div>
</template>
<script setup>
</script>
<style scoped>
.auth-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
    width: 250px;
}
</style>