<template>
    <header>
        <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />

        <div class="title">
            <h1>Registro de datos</h1>

        </div>
    </header>
    <main>
        <LogDataIndex />
    </main>
</template>
<script setup>
// import LogDataIndex from '../components/logData/LogDataIndex.vue'
import LogDataIndex from '../components/logData/LogDataIndex.vue'
</script>
<style scoped>
header {
    display: flex;
    flex-direction: row;
}
.title {
  margin: 0 auto;
  color: #00bd7e;
  font-size: 20px;
}
</style>