        
<script setup>
import axios from 'axios'
import { ref, watchEffect } from 'vue'
import PersonStore from './PersonStore.vue'
import PersonShow from './PersonShow.vue'
import PersonUpdate from './PersonUpdate.vue'
import PersonDestroy from './PersonDestroy.vue'
import PersonModal from './PersonModal.vue'

const persons = ref([])

const event = ref('N')
const idPersonList = ref(0)

const handleEvent = ({ e, id }) => {
    event.value = e
    idPersonList.value = id
    getData()
}

const getData = async () => {
    const { data } = await axios.get(`http://192.168.56.56/api/person`)
    persons.value = data
}
watchEffect(
    async () => {
        await getData()
    }
)
</script>

<template>
    <div class="tableMain">
        <h2>
            Listado de personas
        </h2>
        <PersonStore @store="handleEvent" />
    </div>
    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="{ id, name, lastname, birthdate, phone, email, address } in persons" :key="id">
                    <td>{{ name }}</td>
                    <td>{{ lastname }}</td>
                    <td>{{ birthdate }}</td>
                    <td>{{ phone }}</td>
                    <td>{{ email }}</td>
                    <td>{{ address }}</td>
                    <td class="accions">
                        <PersonShow :id="id" @show="handleEvent" />
                        <PersonUpdate :id="id" @update="handleEvent" />
                        <PersonDestroy :id="id" @destroy="handleEvent" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <PersonModal :eventType="event" :idPersonList="idPersonList" @close="handleEvent" />
    <p>Hola</p>
</template>

<style scoped>
.tableMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.tableContainer {
    display: flex;
}

table {
    flex: 1;
    table-layout: fixed;
    margin: 0 0 1em 0;
    border-collapse: collapse;
    border-radius: 5px;
}

td,
th {
    padding: 0.3em;
}

tr {
    text-align: center;
    border-bottom: 1px solid rgb(205, 205, 205);

}

.accions {
    display: flex;
    justify-content: space-evenly;
}

tbody tr:nth-child(odd) {
    background-color: rgba(241, 241, 241, 0.993);
}

thead tr th {
    font-weight: 700;
}
</style>