<script setup>
import axios from 'axios'
import { ref, watchEffect } from 'vue'

const props = defineProps({
    eventType: String,
    idPersonList: Number
})

const emit = defineEmits(['close'])

const model = defineModel('model')
model.value = {
    name: '',
    lastname: '',
    birthdate: '',
    phone: '',
    email: '',
    address: ''
}

const showModal = ref(false)

watchEffect(() => {
    if (props.eventType !== 'N') {
        showModal.value = true
        if (props.eventType !== 'C') {
            handleShow()
        }
    }
})

const close = () => {
    emit('close', { e: 'N', id: null })
    showModal.value = false
}

const handleEvent = async () => {
    if (props.eventType === 'C') {
        await handleStore()
        close()
    }
    if (props.eventType === 'U') {
        await handleUpdate()
        close()
    }
    if (props.eventType === 'D') {
        await handleDelete()
        close()
        model.value = {
            name: '',
            lastname: '',
            birthdate: '',
            phone: '',
            email: '',
            address: ''
        }
    }
}

const handleShow = async () => {
    const { data } = await axios.get(`http://192.168.56.56/api/person/show/${props.idPersonList}`)
    model.value = data
    console.log(data);
}
const handleStore = async () => {
    const { data } = await axios.post(`http://192.168.56.56/api/person/store`, model.value)
    console.log(data);
}
const handleUpdate = async () => {
    const { data } = await axios.put(`http://192.168.56.56/api/person/update/${props.idPersonList}`, model.value)
    console.log(data)
}
const handleDelete = async () => {
    const { data } = await axios.delete(`http://192.168.56.56/api/person/destroy/${props.idPersonList}`)
    console.log(data)
}

</script>

<template>
    <div id="ventanaModal" :class="`modal ${showModal ? 'show-modal' : 'hidden-modal'}`">
        <div class="contenido-modal">
            <button class="cerrar" @click="close">&times;</button>
            <h2>
                {{
                    props.eventType === 'C'
                    ? 'Ingresar Persona'
                    : props.eventType === 'U'
                        ? 'Actualizar Persona'
                        : 'Eliminar Persona'
                }}
            </h2>
            <div v-if="props.eventType === 'D'">
                <p>¿Confirmas eliminar a esta persona de la lista?</p>
            </div>

            <div v-if="props.eventType !== 'D' && props.eventType !== 'N'">
                <form action="">
                    <div class="text-field-group">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" v-model="model.name"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="lastname">Apellido</label>
                        <input type="text" id="lastname" name="lastname" v-model="model.lastname"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="birthdate">Fecha de nacimiento</label>
                        <input type="date" id="birthdate" name="birthdate" v-model="model.birthdate"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="phone">Teléfono</label>
                        <input type="number" id="phone" name="phone" v-model="model.phone"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" v-model="model.email"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                    <div class="text-field-group">
                        <label for="address">Dirección</label>
                        <input type="address" id="address" name="address" v-model="model.address"
                            :disabled="props.eventType === 'S' && 'disabled'" />
                    </div>
                </form>
            </div>

            <div class="option-buttons">
                <button v-if="props.eventType !== 'S'" @click="handleEvent">{{ props.eventType === 'D' ? 'Eliminar' :
                    props.eventType === 'U' ? 'Actualizar' : 'Ingresar' }}</button>
                <button @click="close">Cancelar</button>
            </div>
        </div>
    </div>
</template>

<style>
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden-modal {
    display: none;
}

.show-modal {
    display: block;
}

.contenido-modal {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.text-field-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.option-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
</style>
