@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.text-field-group {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-container{
  width: 250px;
}


