<template>
    <div class="tableMain">
        <h2>
            Listado de Peliculas
        </h2>
        <div class="headOptions">
            <button v-if="props.actions.F" @click="handleEmit('F', null)" class="success">
                Importar archivo
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload"
                    viewBox="0 0 16 16">
                    <path
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                    <path
                        d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                </svg>
            </button>

            <button v-if="props.actions.I" @click="handleEmit('I', null)" class="success">
                Agregar Persona
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                    <path fill-rule="evenodd"
                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                </svg>
            </button>
        </div>
    </div>


    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th v-for="(head, index) in props.titles" :key="index">{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in props.data" :key="index">
                    <td v-for="(field, index) in props.fields" :key="index">{{ item[field] }}</td>
                    <td v-if="actionsTable" class="accions">
                        <button class="primary" @click="handleEmit('S', item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </button>
                        <button class="warning" @click="handleEmit('U', item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pen" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                            </svg>
                        </button>
                        <button class="danger" @click="handleEmit('D', item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup>

const emit = defineEmits(['emitFather'])
const props = defineProps({
    titles: Array,
    fields: Array,
    data: Array,
    actions: Object
})
const actionsTable = props.actions.S || props.actions.U || props.actions.D


const handleEmit = (e, id) => {
    switch (e) {
        case 'F':
            emit('emitFather', { e: 'F', id: null })
            break;
        case 'I':
            emit('emitFather', { e: 'I', id: null })
            break;
        case 'S':
            emit('emitFather', { e: 'S', id})
            break;
        case 'U':
            emit('emitFather', { e: 'U', id })
            break;
        case 'D':
            emit('emitFather', { e: 'D', id })
            break;

        default:
            emit('emitFather', { e: 'N', id: null })
            break;
    }
}


</script>
<style scoped>
.tableMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.tableContainer {
    display: flex;
}

table {
    flex: 1;
    table-layout: fixed;
    margin: 0 0 1em 0;
    border-collapse: collapse;
    border-radius: 5px;
}

td,
th {
    padding: 0.3em;
}

tr {
    text-align: center;
    border-bottom: 1px solid rgb(205, 205, 205);

}

.accions {
    display: flex;
    justify-content: space-evenly;
}

tbody tr:nth-child(odd) {
    background-color: rgba(241, 241, 241, 0.993);
}

thead tr th {
    font-weight: 700;
}

.headOptions {
    display: flex;
    gap: 5px;
}

.success {
    background-color: white;
    border: 1px solid #00bd7e;
    border-radius: 5px;
    color: #00bd7e;
    cursor: pointer;
}

.success:hover {
    background-color: rgba(0, 189, 126, 0.7);
    color: white;
}

.primary {
    background-color: white;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 5px;
}

.primary:hover {
    background: rgba(0, 123, 255, 0.7);
    color: white;
}

.warning {
    background-color: white;
    border: 1px solid #ff9800;
    color: #ff9800;
    border-radius: 5px;
}

.warning:hover {
    background: rgba(230, 138, 0, 0.7);
    color: white;
}

.danger {
    background-color: white;
    border: 1px solid #f44336;
    color: #f44336;
    border-radius: 5px;
}

.danger:hover {
    background: rgba(244, 67, 54, 0.7);
    color: white;
}
</style>